<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yabu.android.yabujava">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_yabu"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_yabu_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ui.MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.StartUpActivity"
            android:launchMode="singleTop"
            android:noHistory="true">
        </activity>

        <provider
            android:name="sql.KanjisContentProvider"
            android:authorities="com.yabu.android.yabujava"
            android:exported="true" />
        <provider
            android:name="sql.WikiExtractsContentProvider"
            android:authorities="com.yabu.android.yabujava.wiki"
            android:exported="false" />

        <activity android:name=".ui.InfoActivity"
            android:launchMode="singleTop"
            android:noHistory="true"/>

        <receiver android:name="widget.YabuWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/yabu_widget_info" />
        </receiver>

        <service
            android:name="widget.ListViewWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <service
            android:name="widget.FetchCursorDataIntentService" />
    </application>

</manifest>